<form class="modal-padding" name="updateRequiredForm">
    <h3>Update Form</h3>
    <div class="err-messages" ng-show="message">{{ message }}</div>
    <label for="file">Corresponding File: </label>
    <div class="input-group">
        <span>File currently on record: <i>{{updateReqFormModel.PDFName || 'None'}}</i></span>
        <input type="file" ngf-select ng-model="fileToUpload" name="file" accept=".pdf" ngf-max-size="20MB" ngf-model-invalid="errorFile">
        <i ng-show="updateRequiredForm.file.$error.maxSize">
            File too large
            {{errorFile.size / 1000000|number:1}}MB: max 20M
        </i>
        <button type="button" class="btn btn-xs btn-default" ng-click="fileToUpload = null" ng-show="fileToUpload">Remove</button>
        <br />
        <span class="err-messages" ng-show="updateReqFormModel.fileToUpload">This will replace the file currently on record. Click cancel or remove if you do not wish this to happen.</span>
        <br />
    </div>
    <label for="SubmissionDate">Submission Date (optional): </label>
    <div class="input-group">
        <input type="text" id="submissionDate" name="submissionDate" ng-model="updateReqFormModel.SubmitDate" class="form-control" ng-click="datepicker1.open($event)"
               uib-datepicker-popup="{{format}}" is-open="datepicker1.opened" datepicker-options="dateOptions" alt-input-formats="formats" placeholder="2/11/1839" />
        <span class="input-group-addon input-addon-btn" ng-click="datepicker1.open($event)" ng-disabled="to.disabled">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span class="err-messages" ng-show="updateRequiredForm.submissionDate.$error.date">This offer date is not a valid format.</span>
    <br>
    <div class="form-group" ng-show="formType == 'DForm'">
        <label for="dissertationNumber">Select the type of D-Form: </label>
        <select class="form-control" id="dissertationNumber" name="dissertationNumber" ng-model="updateReqFormModel.DFormType" ng-options="dissertationOption.value as dissertationOption.name for dissertationOption in dissertationOptions"></select>
    </div>
    <span class="err-messages" ng-show="formType == 'DForm' && updateRequiredForm.dissertationNumber.$error.required">You must specify the type of D-Form.</span>
    <br>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="updateReqFormModel.DissertationApproved" />Approved? </label>
    </div>
    <br />
    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="!updateRequiredForm.$valid" ng-click="submitUpdatedForm(fileToUpload, updateReqFormModel)">
        Submit
    </button>
</form>
