<form class="modal-padding" novalidate>
    <h3>Update Status</h3>
    <div class="err-messages" ng-show="message">{{ message }}</div>
    <formly-form model="status" fields="updateStatusFields" form="updateStatusForm">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="updateStatusForm.$invalid || updateStatusForm.$pristine" ng-click="submitUpdateStatus(status)">Submit</button>
    </formly-form>
</form>