<form class="modal-padding" novalidate>
    <h3>Update Permanent Address</h3>
    <div class="err-messages" ng-show="message">{{ message }}</div>
    <formly-form model="permanentAddress" fields="permanentAddressFields" form="permanentAddressForm">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="permanentAddressForm.$invalid" ng-click="submitPermamentAddress(permanentAddress)">Submit</button>
    </formly-form>
</form>