<form class="modal-padding" novalidate>
    <h3>Update Personal Information</h3>
    <div class="err-messages" ng-show="message">{{ message }}</div>
    <formly-form model="personal" fields="personalFields" form="personalForm">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="personalForm.$invalid || personalForm.$pristine" ng-click="submitPersonal(personal)">Submit</button>
    </formly-form>
</form>