<form class="modal-padding" novalidate>
    <h3>Update Education Entry</h3>
    <div class="err-messages" ng-show="message">{{ message }}</div>
    <formly-form model="updateEducationModel" fields="updateEducationFields" form="updateEducationForm">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="updateEducationForm.$invalid || updateEducationForm.$pristine" ng-click="submitEducationUpdate(updateEducationModel)">Submit</button>
    </formly-form>
</form>
