<form class="modal-padding" name="addRequiredForm">
    <h3>Add a Required Form</h3>
    <div class="err-messages" ng-show="message">{{ message }}</div>
    <label for="file">Corresponding File: </label>
    <div class="input-group">
        <input type="file" ngf-select ng-model="fileToUpload" name="file" accept=".pdf" ngf-max-size="20MB" ngf-model-invalid="errorFile" ng-required="true">
        <i ng-show="addRequiredForm.file.$error.maxSize">
            File too large
            {{errorFile.size / 1000000|number:1}}MB: max 20M
        </i>
        <button type="button" class="btn btn-xs btn-default" ng-click="fileToUpload = null" ng-show="fileToUpload">Remove</button>
    </div>
    <span class="err-messages" ng-show="addRequiredForm.file.$error.required">You must attach a form.</span>
    <br />
    <label for="SubmissionDate">Submission Date (optional): </label>
    <div class="input-group">
        <input type="text" id="submissionDate" name="submissionDate" ng-model="submissionDate" class="form-control" ng-click="datepicker1.open($event)"
            uib-datepicker-popup="{{format}}" is-open="datepicker1.opened" datepicker-options="dateOptions" alt-input-formats="formats" placeholder="2/11/1839"
        />
        <span class="input-group-addon input-addon-btn" ng-click="datepicker1.open($event)" ng-disabled="to.disabled">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span class="err-messages" ng-show="addRequiredForm.submissionDate.$error.date">This offer date is not a valid format.</span>
    <br>
    <div class="form-group">
        <label for="formType">Type of Form: </label>
        <select class="form-control" id="formType" name="formType" ng-model="formType" ng-options="typeOption.name for typeOption in typeOptions" ng-required="true"></select>
    </div>
    <span class="err-messages" ng-show="addRequiredForm.formType.$error.required">You must specify the type of form.</span>
    <br>
    <div class="form-group" ng-show="formType.value == 'DForm'">
        <label for="dissertationNumber">Select the type of D Form: </label>
        <select class="form-control" id="dissertationNumber" name="dissertationNumber" ng-model="dissertationNumber" ng-options="dissertationOption.name for dissertationOption in dissertationOptions" ng-required="formType.value == 'DForm'"></select>
    </div>
    <span class="err-messages" ng-show="formType.value == 'DForm' && addRequiredForm.dissertationNumber.$error.required">You must specify the type of D form.</span>
    <br>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="dissertationApproved" />Approved? </label>
    </div>
    <br />
    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="!addRequiredForm.$valid || addRequiredForm.$pristine" ng-click="submitRequiredForm(fileToUpload, submissionDate, formType, dissertationNumber, dissertationApproved)">
        Submit
    </button>
</form>