<div class="container loading-wrapper">
    <spinner class="loading" name="tcobMDCspinner" on-loaded='globalAPI.showLoaderAndRefreshStudents("/api/archivedstudents")'>
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </spinner>
</div>

<div class="alertBox" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="globalAPI.closeAlert($index)" dismiss-on-timeout="4000">{{alert.msg}}</div>

<div class="container default-top-spacer clearfix">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" ng-if="showArchivedStudents">
            <table class="studentListTable table table-condensed table-hover">
                <thead>
                    <div class="row">
                        <span class="studentListTableHeader pull-left">Students: Archived</span>
                    </div>
                    <tr>
                        <th ng-click="sortType='StudentNumber';sortReverse=!sortReverse">
                            <i ng-class="{'glyphicon glyphicon-arrow-down': sortReverse && sortType == 'StudentNumber', 'glyphicon glyphicon-arrow-up': !sortReverse && sortType == 'StudentNumber'}"></i> Student Number
                        </th>
                        <th ng-click="sortType='PawPrint';sortReverse=!sortReverse">
                            <i ng-class="{'glyphicon glyphicon-arrow-down': sortReverse && sortType == 'PawPrint', 'glyphicon glyphicon-arrow-up': !sortReverse && sortType == 'PawPrint'}"></i> PawPrint
                        </th>
                        <th ng-click="sortType='LastName';sortReverse=!sortReverse">
                            <i ng-class="{'glyphicon glyphicon-arrow-down': sortReverse && sortType == 'LastName', 'glyphicon glyphicon-arrow-up': !sortReverse && sortType == 'LastName'}"></i> Last Name
                        </th>
                        <th ng-click="sortType='FirstName';sortReverse=!sortReverse">
                            <i ng-class="{'glyphicon glyphicon-arrow-down': sortReverse && sortType == 'FirstName', 'glyphicon glyphicon-arrow-up': !sortReverse && sortType == 'FirstName'}"></i> First Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ui-sref="editStudent.general({studentId: student.Id})" dir-paginate="student in students|orderBy:sortType:sortReverse|itemsPerPage:pageSize">
                        <td ng-bind="student.StudentNumber">
                            <td ng-bind="student.PawPrint"></td>
                            <td ng-bind="student.LastName"></td>
                            <td ng-bind="student.FirstName"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
        <div ng-cloak class="container" ng-if="noStudentsToShow">
            <h2>You don't seem to have any archived students.</h2>
        </div>
    </div>
</div>